
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

/*
Headder
*/
#header{
    background-color: #FF0000;
    width:100%;
    color: #FFFFFF;
}
.notSelected
{
    color: #FFFFFF;
    text-decoration: none;
}
#header ul
{
    list-style-type: none;
    text-align: center;
    padding: 0%;
}
#header li
{
    display: inline-block;
    width:19%;
}
.nav-link
{
    font-weight: bold;
}
.selected
{
    color: #FFFFFF;
    text-decoration: underline;
}
#logo
{
    text-align: left;
}
/*
Main
*/
.container
{
    margin-right: 50px;
    margin-left: 50px;
    list-style-type: none;
}
.col
{
    display: inline-block;
}
.bookItem
{
    width: 200px;
    height: 220px;
    border-color: #908E8E;
    border-style: solid;
    border-radius: 15px;
    margin: 10px;
    padding:5px; 
    display: inline-block;
}
.bookItem button
{
    width: 100%;   
}
.bookTitle
{
    font-size: large;
    margin: 0px;
}
.titleSpace
{
    padding-top: 3px; 
    height: 30%;
}

.infoSpace
{
    height:35%;
    padding-top: 3px; 
}

.buttonSpace
{
    padding-top: 3px; 
    height: 35%;
}
.addButtonSpace
{
    height: 100px;
    width: 100px;
    margin: auto;
    
} 
.addButtonSpace button
{
    height: 100%;
    width: 100%;
    font-size: 50px;
    
}
button
{
    padding: 3px;
    font-size: 18px;
    border-style:solid;
    border-radius: 5px;
    background-color: #cfcfcf;
}
.bookItem a
{
    display: block;
}

.info a
{
    display:inline;
}






